input {
  outline: none !important;
  box-shadow: none !important;
  background: lightgrey;
}

textarea {
  background: lightgrey;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
